.hover-blue:hover {
  color:rgb(45, 150, 255) !important;
}

.hover-green:hover {
  color:rgb(1, 151, 1) !important;
}

.hover-dark-blue:hover {
  color:rgb(27, 96, 225) !important;
}

/* #aboutMe {
  background:url('bg-pic.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode:hard-light;
} */